---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Aman Deep">
  <section class="flex justify-center items-center h-80 p-3">
    <p class="font-normal text-sm md:text-md">
      I'm from India. I have been pursuing my Bachelor Degree in Computer
      Applications. But I rarely go to college because my college is open-school and by exploring the real time computer lessons. Therefore, I do my programming stuffs at my home and am continuously upgrading myself.


    </p>
  </section>
</Layout>
