---
type title = string;

import "@/styles/global.css";

import { FiGithub, FiTwitter } from "react-icons/fi/index.js";
import { RiDiscordLine } from "react-icons/ri/index.js";
import { CiLinkedin } from "react-icons/ci/index.js";
import { ThemeSwitcher } from "@/components/utils/ThemeSwitcher";
import { Button } from "@/components/ui/button";
import "@fontsource-variable/roboto-mono";
const { title } = Astro.props;
import { ViewTransitions } from "astro:transitions";
---

<html lang="en" transition:animate="none">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/A.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>{title}</title>
    <ViewTransitions />
    <script is:inline>
      (function () {
        const currentTheme = localStorage.getItem("theme") || "light";
        document.addEventListener(
          "astro:page-load",
          () => {
            document.documentElement.className = currentTheme;
          },
          { once: true }
        );
        document.documentElement.className = currentTheme;

        document.addEventListener("astro:after-swap", () => {
          document.documentElement.className = currentTheme;
        });
      })();
    </script></head
  >

  <body class="font-roboto">
    <nav
      class="p-2 md:p-4 border fixed top-0 left-0 right-0 backdrop-blur-md z-20 rounded-full mx-2 sm:mx-10 md:mx-20 my-4 flex items-center justify-between"
      transition:persist
    >
      <a href="/" class="font-extrabold text-2xl md:text-3xl p-3 cursor-pointer"
        >A.</a
      >
      <div
        class="flex justify-around items-center text-sm md:text-md w-72 lg:w-96"
      >
        <a href="/">Home</a>
        <a href="/works">Works</a>
        <a href="/about">About</a>
      </div>
      <div class="flex items-center gap-1">
        <ThemeSwitcher client:only="react" />
        <a href="https://www.linkedin.com/in/elamandeep/" target="_blank">
          <Button className="rounded-full hidden md:block">
            Connect With me
          </Button>
        </a>
      </div>
    </nav>
    <main
      class="mx-2 sm:mx-10 md:mx-20 py-32 flex flex-col justify-center space-y-4"
      transition:animate="fade"
    >
      <slot />
    </main>

    <footer class="sm:mt-3 md:mt-6 flex flex-col space-y-6 items-center p-6">
      <div class="flex justify-around items-center gap-2 w-44">
        <a href="https://github.com/elamandeep" target="_blank"
          ><FiGithub size={25} className="text-muted-foreground" /></a
        >
        <a
          href="https://discordapp.com/users/788606884285251644"
          target="_blank"
          ><RiDiscordLine size={30} className="text-muted-foreground" /></a
        >
        <a href="https://www.linkedin.com/in/elamandeep/" target="_blank"
          ><CiLinkedin size={30} className="text-muted-foreground" /></a
        >
        <a
          href="https://twitter.com/elamandeep?t=evwZYu6t5FJOnh6mRebXRQ&s=09"
          target="_blank"
          ><FiTwitter size={25} className="text-muted-foreground" /></a
        >
      </div>

      <div class="flex justify-center sm:gap-4 gap-8">
        <h2 class="text-muted-foreground text-xs text-center sm:text-sm">
          @2023 elamandeep
        </h2>
        <h2 class="text-muted-foreground text-xs text-center sm:text-sm">
          built by elamandeep
        </h2>
        <h2 class="text-muted-foreground text-xs text-center sm:text-sm">
          built with Astro
        </h2>
      </div>
    </footer>
  </body>
</html>
